In [ ]:
# Using an In-Memory Database

import duckdb

r1 = duckdb.sql("SELECT 42 as i")

r1.show()

┌───────┐
│   i   │
│ int32 │
├───────┤
│    42 │
└───────┘

In [2]:
# chaining

r2 = duckdb.sql("SELECT i * 2 AS k FROM r1")
r2.show()

┌───────┐
│   k   │
│ int32 │
├───────┤
│    84 │
└───────┘